<!-- 
   
      <div class="content" style="margin-left: 210px; margin-top: 60px; width: 1120px; ">
        <div class="card  mb-3" style="max-width: 80rem;background-color: whitesmoke; height: 100%; overflow-y: auto; overflow-x: hidden;" >
        
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="card-core">
   
   
   <section class="vh-100 gradient-custom"  style=" margin-top: 56px;">
     <div class="container py-5 h-100">
       <div class="row justify-content-center align-items-center h-100">
         <div class="col-12 col-lg-9 col-xl-7">
           <div class="card shadow-2-strong card-registration border-0" style="border-radius: 10px; 
           width: 850px; margin-left: -100px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" >
   
   
   
   <div class="container; container py-4 h-100;" style="width: 750px;">
       <h4 style="text-align: center;" class=""> Add Salary Monthly</h4>
       <hr>
       <form name="myform" class="needs-validation">
           
         <div class="row">
  
               <div class="col-md-4 mt-4">
                 <label for="validationDefault04" class="form-label"  style="margin-left: 0px;">Months</label>
                 <select  [(ngModel)]="monthlyWiseSalary.month"  name="months"  class="form-select" id="validationDefault04"  required>
                 <option selected disabled value="-1">Select Months..</option>
                
                 <option>January </option>
                 <option>February </option>
                 <option>March</option>
                 <option>April</option>
                 <option>May</option>
                 <option>June</option>
                 <option>July</option>
                 <option>August</option>
                 <option>September</option>
                 <option>October</option>
                 <option>November</option>
                 <option>December</option>
                 </select>
               </div> 

               <div class="col-md-4 mt-4">
                <label for="validationDefault04" class="form-label"  style="margin-left: 0px;">Years</label>
                <select  [(ngModel)]="monthlyWiseSalary.years"  name="years"  class="form-select" id="validationDefault04"  required>
                <option selected disabled value="-1">Select Months..</option>
               
                <option>2020</option>
                <option>2021 </option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
                <option>2027</option>
                <option>2028</option>
                <option>2029</option>
                <option>2030</option>
                <option>2031</option>
                <option>2032</option>
                <option>2033</option>
                <option>2034</option>
                <option>2035</option>
                </select>
              </div> 
               
               <div class="col-md-4 mt-4">
                 <label for="validationDefault04" class="form-label">Employee Name</label>
                 <select class="form-select" id="validationDefault04"  (change)="getEmployeeId($event)">
                 <option>Select One</option>
                 <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                   {{data.firstName}} ({{data.emailId}})
                 </option>
                 </select>
             </div>
             
            </div>
   
   
             <div class="row">
               <div class="col-md-4 mt-3">
                 <label  for="inputname">UAN No. </label>
                 <input type="text" [(ngModel)]="monthlyWiseSalary.uanNumber" name="uanNumber"  class="form-control"  required>
                 </div> 
                 <div class="col-md-4 mt-3">
                   <label  for="inputname">ESI Code </label>
                   <input type="text" [(ngModel)]="monthlyWiseSalary.esiCode"  name="esiCode"  class="form-control"  required>
                   </div> 
                   <div class="col-md-4 mt-3">
                     <label  for="inputname">Gross Salary</label>
                     <input type="number" [(ngModel)]="monthlyWiseSalary.grossSalary" name="grossSalary"  class="form-control"  required>
                     </div> 
               <div class="col-md-4 mt-4">
   
               <label  for="inputname">Basic_Salary</label>
               <input type="text" [(ngModel)]="monthlyWiseSalary.basicSalary" name="basicSalary" class="form-control"  required>
   
               </div> 
             
   
               
               <div class="col-md-4 mt-3">
               <label  for="inputname" class="form-label">Provident_Fund </label>
               <input type="number" [(ngModel)]="monthlyWiseSalary.pf"  name="pf" class="form-control"  required>
               </div>
                      
               <div class="col-md-4 mt-3">
                <label  for="inputname"  class="form-label">E.S.I</label>
                <input type="number"[(ngModel)]="monthlyWiseSalary.esi" name="esi" class="form-control" required>
                </div> 
             </div>
   
   
               <div class="row">
             
           
               <div class="col-md-4 mt-3">
               <label  for="inputname"  class="form-label">HealthInsurance</label>
               <input type="number" [(ngModel)]="monthlyWiseSalary.medicalInsurance"   name="medicalInsurance"  class="form-control"  required>
               </div>     
     
   
   
          
         
                 <div class="col-md-4 mt-3">
                   <label  for="inputname">House Rent Allowance</label>
                   <input type="number" [(ngModel)]="monthlyWiseSalary.houseRentAllowance"   name="houseRentAllowance"  class="form-control"  required>
                   </div>  
            
                   <div class="col-md-4 mt-3">
                     <label  for="inputname">Dearness Allowance</label>
                     <input type="number" [(ngModel)]="monthlyWiseSalary.dearnessAllowance" name="dearnessAllowance"  class="form-control"  required>
                     </div>
                     
                     
                     <div class="col-md-4 mt-3">
                       <label  for="inputname">Spl Allowance</label>
                       <input type="number" [(ngModel)]="monthlyWiseSalary.splAllowance"  name="splAllowance"  class="form-control"  required>
                       </div>
   
   
                       <div class="col-md-4 mt-3">
                         <label  for="inputname">Children Education Allowance</label>
                         <input type="number" [(ngModel)]="monthlyWiseSalary.childrenEducationAllowance"   name="childrenEducationAllowance"  class="form-control"  required>
                         </div>
   
   
   
   
                         <div class="col-md-4 mt-3">
                           <label  for="inputname">Incentives</label>
                           <input type="number" [(ngModel)]="monthlyWiseSalary.incentives"  name="incentives" class="form-control"  required>
                           </div>
   
                           <div class="col-md-4 mt-3">
                             <label  for="inputname">Group Insurance</label>
                             <input type="number" [(ngModel)]="monthlyWiseSalary.groupInsurance"  name="groupInsurance"  class="form-control"  required>
                             </div>
            
               
                             <div class="col-md-4 mt-3">
                               <label  for="inputname">Tax Deducted At Sources</label>
                               <input type="number" [(ngModel)]="monthlyWiseSalary.taxDeductedAtSources" name="taxDeductedAtSources"  class="form-control"  required>
                               </div>  
                               
                               <div class="col-md-4 mt-3">
                                <label  for="inputname">Days Worked</label>
                                <input type="number" [(ngModel)]="monthlyWiseSalary.workedDays"  name="taxDeductedAtSources"  class="form-control"  required>
                                </div>  
                                                        
            </div>         
         
              
           
           
           
           
           <div class="row">  
           <div class="col-md-6 mt-3" style="text-align: center;">
               <button type="Submit" class="btn btn-primary" (click)="formSubmit()" style="margin-left: 150px;">Submit</button>
             </div>
           <div class="col-md-6 mt-3" style="text-align: center;">
               <button type="reset" class="btn btn-danger" style="margin-right: 140px;"  >Cancel</button>
             </div>
          </div>
     
       </form>
     
      </div>
   
   
     </div>
   </div>
   </div>
   </div>
   </section>
     
     
  </div>
</div>
</div>
</div> -->












 
<div class="card  bg_sol" style="margin-left: 200px;margin-top: 60px;" >
  <form class="form">
    <h3 style="text-align: center;">Add Salary Monthly</h3>

    <div class="row">
    
       <div class="col-sm-12 col-md-4">
        
          <label >
            <select  [(ngModel)]="monthlyWiseSalary.month"  name="month"  class="input" id="validationDefault04"  required>
              <option selected disabled value="-1">Select Months..</option>
             
              <option>January </option>
              <option>February </option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
              </select>
              <span>Months</span>
          </label>
        </div>



        <div class="col-sm-12 col-md-4">
        
          <label >
            <select  [(ngModel)]="monthlyWiseSalary.years"  name="years"  class="input" id="validationDefault04"  required>
              <option selected disabled value="-1">Select Months..</option>
             
              <option>2020</option>
              <option>2021 </option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
              <option>2031</option>
              <option>2032</option>
              <option>2033</option>
              <option>2034</option>
              <option>2035</option>
              </select>
              <span>Years</span>
          </label>
        </div>



        <div class="col-sm-12 col-md-4">
         <label >
         <select class="input" id="validationDefault04"  (change)="getEmployeeId($event)">
        <option>Select One</option>
        <option  *ngFor="let data of employeeData" [value]="data.employeeId">
          {{data.firstName}} ({{data.emailId}})
        </option>
        </select>
         <span>Employee</span>
       </label>
      </div>
       
     </div>

     <div class="row">

      <div class="col-sm-12 col-md-4">
        <label >
          <input type="text" [(ngModel)]="monthlyWiseSalary.uanNumber" name="uanNumber"  class="input"  required>
          <span>UAN No.</span>
        </label>
      </div>



      <div class="col-sm-12 col-md-4">
        <label >
         <input type="number" [(ngModel)]="monthlyWiseSalary.esiCode" name="esiCode" class="input" required>
         <span>ESI Number</span>
        </label>
      </div>

      <div class="col-sm-12 col-md-4">
        <label>
          <input type="text" [(ngModel)]="monthlyWiseSalary.basicSalary" name="basicSalary" class="input"  required>
          <span>Basic Salary</span>
          </label>
      </div>

   </div>
      
      


  <div class="row">

      <div class="col-sm-12 col-md-4">
        <label >
        <input type="number" [(ngModel)]="monthlyWiseSalary.houseRentAllowance"  name="houseRentAllowance"  class="input"  required>
         <span>House Rent Allowance</span>
         </label>
      </div>

      
      <div class="col-sm-12 col-md-4">
        <label >
          <input type="number" [(ngModel)]="monthlyWiseSalary.dearnessAllowance"  name="dearnessAllowance"  class="input"  required>
         <span>Dearness Allowance</span>
         </label>
      </div>

      <div class="col-sm-12 col-md-4">
        <label>
          <input type="number" [(ngModel)]="monthlyWiseSalary.grossSalary"  name="grossSalary"  class="input"  required>
          <span>Gross Salary</span>
          </label>
      </div>
  
    </div>
   

    <div class="row">
 
      <div class="col-sm-12 col-md-4">
          <label >
            <input type="number" [(ngModel)]="monthlyWiseSalary.pf"  name="pf" class="input"  required>
           <span>Provident Fund(%)</span>
           </label>
        </div>
  
        
        <div class="col-sm-12 col-md-4">
          <label >
              <input type="number" [(ngModel)]="monthlyWiseSalary.esi" name="esi" class="input" required>
           <span>E.S.I(%)</span>
           </label>
        </div>

        <div class="col-sm-12 col-md-4">
          <label>
            <input type="number" [(ngModel)]="monthlyWiseSalary.medicalInsurance"  name="medicalInsurance"  class="input"  required>
            <span>Health Insurance</span>
            </label>
        </div>
    
      </div>



      <div class="row">

          <div class="col-sm-12 col-md-4">
            <label >
              <input type="number" [(ngModel)]="monthlyWiseSalary.childrenEducationAllowance"  name="childrenEducationAllowance"  class="input"  required>
             <span>ChildrenEducationAllowance</span>
             </label>
          </div>
    
          
          <div class="col-sm-12 col-md-4">
            <label >
              <input type="number" [(ngModel)]="monthlyWiseSalary.splAllowance"  name="splAllowance"  class="input"  required>
             <span>SPL Allowance</span>
             </label>
          </div>
      
          <div class="col-sm-12 col-md-4">
            <label>
              <input type="number" [(ngModel)]="monthlyWiseSalary.incentives"  name="incentives" class="input"  required>
              <span>Incentives</span>
              </label>
          </div>

        </div>




        <div class="row">

            
          <div class="col-sm-12 col-md-4">
              <label >
                <input type="number" [(ngModel)]="monthlyWiseSalary.groupInsurance"  name="groupInsurance"  class="input"  required>
               <span>Group Insurance</span>
               </label>
            </div>
      
            
            <div class="col-sm-12 col-md-4">
              <label >
                <input type="number" [(ngModel)]="monthlyWiseSalary.taxDeductedAtSources"  name="taxDeductedAtSources"  class="input"  required>
               <span>TaxDeductedAtSources</span>
               </label>
            </div>
        

            <div class="col-sm-12 col-md-4">
              <label>
                <input type="number" [(ngModel)]="monthlyWiseSalary.workedDays"  name="taxDeductedAtSources"  class="input"  required>
                <span>Days Worked</span>
                </label>
               </div>
          </div>

              


      
      <div class="btn-group">
        <button class="button" type="submit"  (click)="formSubmit()">
            <span>Submit</span>
          </button>
          <button class="button can" type="reset" >
            <span>Cancel</span>
          </button>
          <button class="button can" type="reset" >
            <span>reset</span>
          </button>
      </div>
        
    
  </form>
</div>




