<!-- <div class="content" style="margin-left: 210px; margin-top: 60px; ; ">
  <div class="card  mb-3" style="max-width: 80rem;background-color: #ebeae8; height: 100%; overflow-y: auto; overflow-x: hidden;" >
  
      <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="card-core">






<section class="vh-100 gradient-custom"  style="margin-top: 25px;">


  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration border-0" style="border-radius: 10px; width: 850px; margin-left: -100px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" >

<div class="container; container py-4 h-100;" style="width: 750px;">
    <h4 style="text-align: center;" class=""> Add Salary</h4>
    <hr>
    <form name="myform" class="needs-validation">
        
      <div class="row">

            
            <div class="col-md-6 mt-4">
              <label for="validationDefault04" class="form-label">Employee Name</label>
              <select   [(ngModel)]="addSalary.employeeId" name="employeeId" class="form-select" id="validationDefault04" required>
              <option>Select One</option>
              <option  *ngFor="let data of employeeData" [value]="data.employeeId">
                {{data.firstName}} ({{data.emailId}})
              </option>
             </select>
          </div>
          
         </div>
         <br><br>


          <div class="row">
            <div class="col-md-6 mt-3">
              <label  for="inputname">UAN No. </label>
              <input type="text" [(ngModel)]="addSalary.uanNumber" name="uanNumber"  class="form-control"  required>
              </div> 
              <div class="col-md-6 mt-3">
                <label  for="inputname">ESI Code </label>
                <input type="text" [(ngModel)]="addSalary.esiCode"  name="esiCode"  class="form-control"  required>
                </div> 
                <div class="col-md-6 mt-3">
                  <label  for="inputname">Gross Salary</label>
                  <input type="number" [(ngModel)]="addSalary.grossSalary"  name="grossSalary"  class="form-control"  required>
                  </div> 
            <div class="col-md-6 mt-4">


            <label  for="inputname">Basic_Salary</label>

            <label  for="inputname" class="form-label">Actual_Salary</label>
            <input type="text" [(ngModel)]="addSalary.totalSalary" name="totalSalary" class="form-control"  required>
            <label  for="inputname"><b>Basic_Salary</b></label>

            <input type="text" [(ngModel)]="addSalary.basicSalary" name="basicSalary" class="form-control"  required>

            </div> 
          

            
            <div class="col-md-6 mt-3">
            <label  for="inputname" class="form-label">Provident_Fund </label>
            <input type="number" [(ngModel)]="addSalary.pf"  name="pf" class="form-control"  required>
            </div>        
          </div>
          <br><br>

            <div class="row">
            <div class="col-md-6 mt-3">
            <label  for="inputname"  class="form-label">E.S.I</label>
            <input type="number" [(ngModel)]="addSalary.esi" name="esi" class="form-control" required>
            </div> 
     

           
        
            <div class="col-md-6 mt-3">
            <label  for="inputname"  class="form-label">HealthInsurance</label>
            <input type="number" [(ngModel)]="addSalary.medicalInsurance"  name="fromDate"  class="form-control"  required>
            </div>     
  


       
      
              <div class="col-md-6 mt-3">
                <label  for="inputname">House Rent Allowance</label>
                <input type="number" [(ngModel)]="addSalary.houseRentAllowance"  name="houseRentAllowance"  class="form-control"  required>
                </div>  
         
                <div class="col-md-6 mt-3">
                  <label  for="inputname">Dearness Allowance</label>
                  <input type="number" [(ngModel)]="addSalary.dearnessAllowance"  name="dearnessAllowance"  class="form-control"  required>
                  </div>
                  
                  
                  <div class="col-md-6 mt-3">
                    <label  for="inputname">Spl Allowance</label>
                    <input type="number" [(ngModel)]="addSalary.splAllowance"  name="splAllowance"  class="form-control"  required>
                    </div>


                    <div class="col-md-6 mt-3">
                      <label  for="inputname">Children Education Allowance</label>
                      <input type="number" [(ngModel)]="addSalary.childrenEducationAllowance"  name="childrenEducationAllowance"  class="form-control"  required>
                      </div>




                      <div class="col-md-6 mt-3">
                        <label  for="inputname">Incentives</label>
                        <input type="number" [(ngModel)]="addSalary.incentives"  name="incentives" class="form-control"  required>
                        </div>

                        <div class="col-md-6 mt-3">
                          <label  for="inputname">Group Insurance</label>
                          <input type="number" [(ngModel)]="addSalary.groupInsurance"  name="groupInsurance"  class="form-control"  required>
                          </div>
         
            
                          <div class="col-md-6 mt-3">
                            <label  for="inputname">Tax Deducted At Sources</label>
                            <input type="number" [(ngModel)]="addSalary.taxDeductedAtSources"  name="taxDeductedAtSources"  class="form-control"  required>
                            </div>  
                            
                                                     
         </div>         
        

        
        <div class="row">  
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="Submit" class="btn btn-primary" (click)="formSubmit()" (click)="validate()" style="margin-left: 150px;">Submit</button>
          </div>
        <div class="col-md-6 mt-3" style="text-align: center;">
            <button type="reset" class="btn btn-danger" style="margin-right: 140px;"  >Cancel</button>
          </div>
       </div>
  
    </form>
  
   </div>


  </div>
</div>
</div>
</div>
</section>
  



 -->




 
 <div class="card  bg_sol" style="margin-left: 200px;margin-top: 60px;" >
  <form class="form">
    <h3 style="text-align: center;">Add Salary</h3>
    <div class="row">
    
      <div class="col-sm-12 col-md-4">
        <label >
          <select   [(ngModel)]="addSalary.employeeId" name="employeeId" class="input" id="validationDefault04" required>
          <option>Select One</option>
          <option  *ngFor="let data of employeeData" [value]="data.employeeId">
            {{data.firstName}} ({{data.emailId}})
          </option>
         </select>
         <span>Employee</span>
       </label>
      </div>
       

      <div class="col-sm-12 col-md-4">
        <label >
          <input type="text" [(ngModel)]="addSalary.uanNumber" name="uanNumber"  class="input"  required>
          <span>UAN Number</span>
        </label>
      </div>



      <div class="col-sm-12 col-md-4">
        <label >
         <input type="number" [(ngModel)]="addSalary.esiCode" name="esiCode" class="input" required>
         <span>ESI Number</span>
        </label>
      </div>

   </div>
      
      


  <div class="row">

    <div class="col-sm-12 col-md-4">
      <label>
        <input type="text" [(ngModel)]="addSalary.basicSalary" name="basicSalary" class="input"  required>
        <span>Basic Salary</span>
        </label>
    </div>


    <div class="col-sm-12 col-md-4">
        <label >
        <input type="number" [(ngModel)]="addSalary.houseRentAllowance"  name="houseRentAllowance"  class="input"  required>
         <span>House Rent Allowance</span>
         </label>
      </div>

      
      <div class="col-sm-12 col-md-4">
        <label >
          <input type="number" [(ngModel)]="addSalary.dearnessAllowance"  name="dearnessAllowance"  class="input"  required>
          <span>Dearness Allowance</span>
         </label>
      </div>
  
    </div>
   

    <div class="row">

      <div class="col-sm-12 col-md-4">
        <label>
          <input type="number" [(ngModel)]="addSalary.grossSalary"  name="grossSalary"  class="input"  required>
          <span>Gross Salary</span>
          </label>
      </div>
  
  
      <div class="col-sm-12 col-md-4">
          <label >
           <input type="number" [(ngModel)]="addSalary.pf"  name="pf" class="input"  required>
           <span>Provident Fund(%)</span>
           </label>
        </div>
  
        
        <div class="col-sm-12 col-md-4">
          <label >
           <input type="number" [(ngModel)]="addSalary.esi" name="esi" class="input" required>
           <span>E.S.I(%)</span>
           </label>
          </div>
        </div>



      <div class="row">
       
       
        <div class="col-sm-12 col-md-4">
          <label>
            <input type="number" [(ngModel)]="addSalary.medicalInsurance"  name="fromDate"  class="input"  required>
            <span>Health Insurance</span>
            </label>
        </div>
    
    
        <div class="col-sm-12 col-md-4">
            <label >
              <input type="number" [(ngModel)]="addSalary.childrenEducationAllowance"  name="childrenEducationAllowance"  class="input"  required>
             <span>ChildrenEducationAllowance</span>
             </label>
          </div>
    
          
          <div class="col-sm-12 col-md-4">
            <label >
              <input type="number" [(ngModel)]="addSalary.splAllowance"  name="splAllowance"  class="input"  required>
             <span>SPL Allowance</span>
             </label>
          </div>
      
        </div>




        <div class="row">

          <div class="col-sm-12 col-md-4">
            <label>
              <input type="number" [(ngModel)]="addSalary.incentives"  name="incentives" class="input"  required>
              <span>Incentives</span>
              </label>
          </div>
      
      
          <div class="col-sm-12 col-md-4">
              <label >
                <input type="number" [(ngModel)]="addSalary.groupInsurance"  name="groupInsurance"  class="input"  required>
               <span>Group Insurance</span>
               </label>
            </div>
      
            
            <div class="col-sm-12 col-md-4">
              <label >
                <input type="number" [(ngModel)]="addSalary.taxDeductedAtSources"  name="taxDeductedAtSources"  class="input"  required>
               <span>TaxDeductedAtSources</span>
               </label>
            </div>
        
          </div>

              
      
      <!-- <div class="btn-group">
      <button class="button" type="submit"  (click)="formSubmit()">
        <span>Submit</span>
        </button>
        
        <button class="button can" type="reset" >
          <span>Reset</span>
        </button>
        <button class="button can" type="reset" >
          <span>Cancel</span>
        </button>
    </div> -->

    <div class="btn-group">
      <button class="button" type="submit"  (click)="formSubmit()">
          <span>Submit</span>
        </button>
        <button class="button can" type="reset" >
          <span>Reset</span>
        </button>
        <button class="button can" type="reset" >
          <span><a [routerLink]="['salarylist']" style="text-decoration: none;">Cancel</a></span>
        </button>
    </div>

  </form>
</div>




