


<div class="content" style="margin-left: 210px; margin-top: 60px; width: 1120px; ">
    <div class="card  mb-3" style="max-width: 80rem;background-color: #ebeae8; height: 100%; overflow-y: auto; overflow-x: hidden;" >
    
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="card-core">
    
            <form>         
              <div class="row" >
              
             
                <div class="col-md-4 mb-2">
                  <label for="validationDefault04" class="form-label"  style="margin-left: 0px;">Months</label>
                  <select   name="months"  class="form-select" id="validationDefault04"  required #month>
                  <option selected disabled value="-1">Select Months..</option>
                 
                  <option>January </option>
                  <option>February </option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                  </select>
                </div> 
 
                <div class="col-md-4 mb-2">
                 <label for="validationDefault04" class="form-label"  style="margin-left: 0px;">Years</label>
                 <select    name="years"  class="form-select" id="validationDefault04"  required #year>
                 <option selected disabled value="-1">Select Months..</option>
                
                 <option>2020</option>
                 <option>2021 </option>
                 <option>2022</option>
                 <option>2023</option>
                 <option>2024</option>
                 <option>2025</option>
                 <option>2026</option>
                 <option>2027</option>
                 <option>2028</option>
                 <option>2029</option>
                 <option>2030</option>
                 <option>2031</option>
                 <option>2032</option>
                 <option>2033</option>
                 <option>2034</option>
                 <option>2035</option>
                 </select>
               </div> 
                
              <div class="col-2 mt-4">
                <button type="Submit" class="btn btn-info" style="margin-left: 40px; height: 35px;" (click)="searchFilter(month.value,year.value)">Search</button>
               </div> 
  
               <div class="col-2 mt-4">
                <button type="reset" class="btn btn-danger" style="margin-left: px; height: 35px">reset</button>
               </div>
               </div>
                   
              </form>
  
  

  
  
  
  </div>
  </div>
  </div>
  </div>
  
  
  
  
  
  <div class="content" style="margin-left: 210px; margin-top: 30px; width: 1120px;">
    <div class="card  mb-3" style="max-width: 80rem;background-color:white; height: 100%; overflow-y: auto; overflow-x: hidden;" >
    
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="card-core">
  
  
  
  <nav class="navbar" style="margin-top: 25px; background-color: rgb(34, 38, 65);">
    <div class="container-fluid">
      <h5 style="color: aliceblue;">Monthly Salary</h5>

    </div>
  </nav>
  
  <diV  style="margin-left: px; margin-right: px; width: 1086px;">
  <table class="table mt- table-bordered">
  
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">EmailId</th>
        <th scope="col">BasicSalary</th>
        <th scope="col">GrossSalary</th>
        <th scope="col">Months</th>
        <th scope="col">Years</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Salary_Slip</th>
      </tr>
   </thead>
  
  
  <tbody>
   
    <tr *ngFor="let empSalary of salary; let i=index">
        <td>{{(pageObject.size*(pageObject.page))+i+1}}</td>
        <td>{{empSalary.employee.firstName}}</td>
        <td>{{empSalary.employee.emailId}}</td>
        <td>{{empSalary.basicSalary}}</td>
        <td>{{empSalary.grossSalary}}</td> 
        <td>{{empSalary.month}}</td>
        <td>{{empSalary.years}}</td>
       
    
       
        <td>
             <button class="btn btn-success">
           <a routerLink="admin/salarylist/{{empSalary.salaryId}}" style="color: white;"><i class="fa fa-edit"></i></a></button>
         </td>
  
  
         <td> 
        <button class="btn btn-danger" (click)="deleteSalary(empSalary.salaryId)" style="color: white; background-color: red;" ><i class="fa fa-trash"></i></button>
          <a></a>
         </td> 
  
          
         <td>
        <button class=""style="color:black"><a href="http://localhost:4207/api/addsalary/salaryslippdf/{{empSalary.monthlySalaryId}}" target="_blank" style="text-decoration: none;"> <i>Salary_Slip</i></a></button>
        </td>
        
    
      <!-- </tr> -->
  </tbody>
  </table>
  <button type="button" (click)= "myFuction('prev',pageObject.page)" style="background-color: rgb(189, 189, 228); border-radius: 15px; margin-left: 30px; margin-top: 15px;"><</button>
  <button type="button" (click)= "myFuction('next',pageObject.page)" style="background-color: rgb(189, 189, 228); border-radius: 15px; margin-left: 10px;">></button>
  
   
  </diV>
  
  
  </div>
  </div>
  </div>
  </div>
  